
/* ------- Banner ------- */

#banner {
    background-color: var(--color-accent-hover);

    flex-grow: 1;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}


#banner .banner_text {
    color: var(--color-primary-text);

    display: flex;
    flex-direction: column;

    margin: 5vh 6vw;
}

#banner .name {
    flex-grow: 2;
    font-size: calc(2vh + 4vw);

    font-family: "Oswald", sans-serif;

    align-content: center;
    text-align: right;
}
#banner #tittle {
    flex-grow: 1;
    font-size: calc(0.5vh + 1vw);
    
    padding-top: 1vh;
    align-content: start;
    text-align: right;
}

#banner #profile_photo {
    height: calc(10vh + 12vw);
    width: calc(10vh + 12vw);

    align-self: center;
    margin: 5vh 5vw;

    object-fit: cover;
    border-radius: 40%;
    border: 0.25vw solid var(--color-primary-text);
}