
/* ------- Banner ------- */

#banner {
    background-color: var(--color-accent-hover);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2vh 6vw;
}


#banner .banner_text {
    color: var(--color-primary-text);

    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#banner .name {
    font-size: calc(2vh + 4vw);

    font-family: "Oswald", sans-serif;

    align-content: center;
    text-align: right;
}
#banner #tittle {
    font-size: calc(0.5vh + 1vw);
    
    align-content: start;
    text-align: right;
}

#banner #profile_photo {
    height: calc(10vh + 12vw);
    width: calc(10vh + 12vw);

    align-self: center;

    object-fit: cover;
    border-radius: 50%;
    /* border: calc(0.15vh + 0.15vw) solid var(--color-primary-text); */
}
