/* ------- Card ------- */
.certificates {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    gap: 5vw;
}

a.card {
    background-color: var(--color-secondary);

    /* define a size, width is 1.4 bigger than height */
    --size: calc(8vh + 8vw);
    height: var(--size);
    width: calc(var(--size) * 1.4);

    border-radius: var(--border-radius);
    border: 2px solid var(--color-secondary-hover);

    /* text */
    color: var(--color-secondary-text);
    font-weight: bolder;
    text-decoration: none;

    /* childs */
    display: flex;
    flex-direction: column;
}
a.card:hover {
    background-color: var(--color-accent);
    color: var(--color-primary-text);
    border: 2px solid var(--color-accent-hover);
}

a.card > img.card_img {
    height: 50%;

    object-fit: cover;
    object-position: top;
    border-radius: inherit;
}
a.card:hover > img.card_img {
    opacity: 0.8;
}


a.card > span {
    text-align: center;
    align-content: center;

    overflow: hidden;
    padding: calc(0.5vh + 1.0vw);

    flex-grow: 1;
}
