/* ------- Card ------- */

a.card {
    background-color: var(--color-secondary);

    --height-size: calc(10vh + 10vw);
    height: var(--height-size);
    width: calc(var(--height-size) * 1.4);

    border-radius: var(--border-radius);

    /* text */
    color: var(--color-secondary-text);
    font-weight: bolder;
    text-decoration: none;
    font-size: calc(0.5vh + 1.0vw);

    /* childs */
    display: flex;
    flex-direction: column;
}
a.card:hover {
    background-color: var(--color-accent);
    color: var(--color-primary-text);
}

a.card > img.card_img {
    height: 50%;

    object-fit: cover;
    border-radius: inherit;
}
a.card > img.card_img:hover {
    opacity: 0.8;
}


a.card > div.card_text {
    text-align: center;
    overflow: hidden;
    padding: calc(0.5vh + 1.0vw);
}
