/* ------- Generics ------- */

.inside_shadow {
    /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 0 0 10px 0.1vw var(--color-primary-hover);
 }

.outside_shadow {
    /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 10px 0.1vw var(--color-primary-hover);
 }

.horizontal_line {
    background-color: var(--color-primary-text);

    height: 0.15vh;
    width: 100%;

    border-radius: 7px;
}

.boxed {
    background-color: var(--color-secondary);
    padding: calc(1vh + 1.0vw);
    border-radius: var(--border-radius);
}

/* ------- Texts ------- */
.primary_text {
    color: var(--color-primary-text);
    font-size: calc(1.5vh + 1vw);
}

.secondary_text {
    color: var(--color-secondary-text);
    font-size: calc(1vh + 1.0vw);
}


/* ------- <a> Buttons ------- */
a.button {
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);

    display: inline-block;

    padding: 0.8vh 0.8vw;
    border-radius: var(--border-radius);

    font-weight: bolder;
    text-decoration: none;
    font-size: calc(1.5vh + 0.5vw);
}

a.button:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-primary-text);
}

a.button > img {
    padding-left: 0.5vw;
    width: calc(1.0vh + 1.0vw);
}


@media (max-width: 576px) {
    a.button {
        padding: 0.8vh 1.5vw;
    }
}