
/* Sizes and Spaces */

.space1 {
    margin-top: calc(4vh + 0.5vw);
}
.space2 {
    margin-top: calc(1vh + 0.5vw);
}

.small_icon {
    width: calc(1vh + 1vw);
    object-fit: scale-down; 
}

.icon {
    width: calc(2vh + 2vw);
    object-fit: contain;
    border-radius: var(--border-radius); 
}

/* ------- Generics ------- */

.inside_shadow {
    /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 0 0 10px 0.1vw var(--color-primary-hover);
}

.outside_shadow {
    /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 10px 0.1vw var(--color-primary-hover);
}

.horizontal_line {
    background-color: var(--color-primary-text);

    height: 0.15vh;
    width: 100%;

    border-radius: 7px;
}

.boxed {
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary-hover);

    padding: calc(1vh + 0.5vw);
}

.tag {
    background-color: rgba(1, 1, 1, 0.15);
    color: var(--color-accent);
    border-radius: var(--border-radius);

    display: inline-block;
    padding: 4px 8px;

    font-size: var(--small-text-size);
    font-weight: bold;
}

/* ------- Texts ------- */
.primary_text {
    color: var(--color-primary-text);
    font-size: var(--primary-text-size);
}

.secondary_text {
    color: var(--color-secondary-text);
    font-size: var(--secondary-text-size);
}

.small_text {
    color: var(--color-secondary-text);
    font-size: var(--small-text-size);
}

.hint_text {
    color: var(--color-accent);
    
    font-size: var(--small-text-size);
    font-weight: bold;
}

.warning_text {
    color: var(--color-warning);
    
    font-size: var(--small-text-size);
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* Class to prevent images from being selected */
.no_select {
    user-select: none; /* Prevents text selection */
    -webkit-user-drag: none; /* Prevents dragging in WebKit browsers (Chrome, Safari) */
    -moz-user-select: none; /* Prevents text selection in Firefox */
    -ms-user-select: none; /* Prevents text selection in IE/Edge */
}


/* ------- <a> Buttons ------- */
a.button {
    background-color: var(--color-accent);
    color: var(--color-primary-text);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: calc(0.5vh + 0.5vw);

    padding: 0.8vh 0.8vw;
    border-radius: var(--border-radius);

    font-weight: bolder;
    text-decoration: none;
    font-size: var(--secondary-text-size);
    
    text-wrap: nowrap;
}

a.button:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-primary-text);
    cursor: pointer;
}

a.button > img {
    width: calc(1vh + 1vw);
    object-fit: scale-down; 
}


@media (max-width: 576px) {
    a.button {
        padding: 0.8vh 1.5vw;
    }
}


/* Layouts */

.less_gap, 
.rows.less_gap, .rows_center.less_gap,
.columns.less_gap, .columns_center.less_gap {
    gap: 0.5vw;
}

.rows {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.rows_center {
    display: flex;
    flex-direction: row;
    gap: 1vw;

    align-items: center;
}

.columns {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.columns_center {
    display: flex;
    flex-direction: column;
    gap: 1vw;

    align-items: center;
}

.rows_spaced {
    display: flex;
    flex-direction: row;
    gap: 1vw;

    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 5vw;
    padding: 1vw;
}
/*
.grid_item:hover {
    z-index: 10;
}
*/

.flex_start {
    align-self: flex-end; 
}
.flex_end {
    align-self: flex-end; 
}


@media (max-width: 576px) {
    .grid_container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        padding: 0;
    }
}


/* Hide and Show elements depending on the platform */

/* Hide Desktop on Mobile */
@media (max-width: 576px) {
    .only_show_desktop {
        display: none !important;
    }
}

/* Hide Mobile on Desktop */
@media (min-width: 577px) {
    .only_show_mobile {
        display: none !important;
    }
}