.header {
    background-color: var(--color-secondary);

    flex-basis: 19vw;
    flex-grow: 0;

    padding-top: 2vw;
    gap: 2vw;

    transition: max-width 0.2s ease;
    max-width: 100%;
}

.header.hidden {
    max-width: 0;
    overflow: hidden;
}

.header.hidden > * {
    transition: opacity 0.2s ease;
    opacity: 0;
}

/* hide header button */
a.button.hide_header {
    border-radius: 0;

    width: 0.2vw;
    padding: 0.5vw;
    background-color: var(--color-secondary);
}

a.button.hide_header:hover {
    background-color: var(--color-secondary-hover);
}

a.button.hide_header > img {
    width: 1vw;
    opacity: 0.5;
}
a.button.hide_header:hover > img  {
    opacity: 1;
}


@media (max-width: 800px) {
    a.button.hide_header {
        display: none;
    }
}