/* ------- Navigation Bar ------- */

#navbar {
    padding: 5vh 1vw;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2vh;
}

#navbar .nav_item {
    background-color: unset;
    color: var(--color-secondary-text);

    width: max-content;
    font-size: var(--small-text-size);
    text-wrap: nowrap;

    text-align: center;
    align-content: center;
}
#navbar .nav_item:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-primary-text);
}

#navbar .nav_item.selected  {
    background-color: var(--color-accent);
    color: var(--color-primary-text);
}
#navbar .nav_item.selected:hover  {
    background-color: var(--color-accent-hover);
}

/* Dot */
#navbar .nav_item::before {
    content: "";
    background-color: var(--color-secondary-text);
    display: inline-block;

    height: 0.5vw;
    width: 0.5vw;

    vertical-align: middle;

    margin-right: 0.5vw;
    margin-left: 0;

    border-radius: 50%;
}
#navbar .nav_item.selected::before {
    background-color: var(--color-primary-text);
}
#navbar .nav_item:hover::before {
    background-color: var(--color-primary-text);
}


@media (max-width: 576px) {
    #navbar {
        width: 100%;
        padding: 2vh 2vw;
        gap: 0;

        flex-direction: row;
        justify-content: center;
    }

    #navbar .nav_item {
        margin: 0;
        text-wrap: wrap;
    }

    #navbar .nav_item .dot {
        display: none;
    }
}