/* ------- Navigation Bar ------- */

#navigation_bar {
    background-color: var(--color-secondary);

    padding: 5vh 1vw;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2vh;
}

#navigation_bar .nav_item {
    /* 
    background-color: var(--color-primary);
    */

    width: max-content;
    font-size: calc(1vh + 0.7vw);
    text-wrap: nowrap;

    text-align: center;
    align-content: center;
}
#navigation_bar .nav_item:hover {
    background-color: var(--color-primary-hover);
}

#navigation_bar .nav_item.selected  {
    background-color: var(--color-accent);
    color: var(--color-primary-text);
}
#navigation_bar .nav_item.selected:hover  {
    background-color: var(--color-accent-hover);
}

#navigation_bar .nav_item .dot {
    background-color: var(--color-secondary-text);
    display: inline-block;

    height: 0.5vw;
    width: 0.5vw;

    vertical-align: middle;

    margin-right: 0.5vw;
    margin-left: 0;

    border-radius: 50%;
}
#navigation_bar .nav_item.selected .dot {
    background-color: var(--color-primary-text);
}
#navigation_bar .nav_item:hover .dot {
    background-color: var(--color-primary-text);
}


@media (max-width: 576px) {
    #navigation_bar {
        display: none;

        width: 100%;
        padding: 2vh 2vw;
        gap: 0;

        flex-direction: row;
        justify-content: center;
    }

    #navigation_bar .nav_item {
        margin: 0;
        text-wrap: wrap;
    }

    #navigation_bar .nav_item .dot {
        display: none;
    }
}