
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/*
.oswald-<uniquifier> {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/*
.nunito-sans-<uniquifier> {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
*/


:root {
    /* text */
    --color-primary-text: #f2f2f2;
    --color-secondary-text: #858585;
    
    --color-primary: #161616;
    --color-primary-hover:#141414;

    --color-secondary: #1c1c1c;
    --color-secondary-hover: #202020;

    --color-accent: #414BB2;
    --color-accent-hover: #3a43a3;

    --border-radius: 7px;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    font-family: "Nunito Sans", sans-serif;

    display: flex;
    flex-direction: column;
}




/* ------- Page ------- */
#page {
    flex-grow: 1;
    height: 80vh;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}


/* ------- Page Content ------- */

#page_content {
    background-color: var(--color-primary);

    flex-grow: 1;

    padding: calc(2.5vh + 2vw) calc(5vh + 5vw);

    overflow-y: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}



#page_content .button {
    margin-right: 2vw;
}

@media (max-width: 576px) {
    #page {
        flex-direction: column;
    }

    #page_content {
        padding-left: calc(2vh + 2vw);
        padding-right: calc(2vh + 2vw);
    }
}