
/* ------- Page Banner ------- */

#page_banner {
    background-color: var(--color-banner-background);

    display: flex;
    justify-content: center;

    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2vh 6vw;
}

#page_banner .banner_content {
    width: var(--max-page-width);
    justify-content: space-evenly;
}

#page_banner.only_show_desktop {
    border-radius: var(--border-radius);
}

#page_banner .banner_text {
    color: var(--color-primary-text);

    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;

    text-align: right;
}

#page_banner .name {
    font-size: 3em;

    font-family: "Oswald", sans-serif;

    align-content: center;
}
#page_banner #tittle {
    font-size: var(--secondary-text-size);
    
    align-content: start;
}

#page_banner #profile_photo {
    height: calc(10vh + 10vw);
    width: calc(10vh + 10vw);

    align-self: center;

    object-fit: cover;
    border-radius: 50%;
    /* border: calc(0.15vh + 0.15vw) solid var(--color-primary-text); */
}
