

/* ------- Page ------- */
#page {
    flex-grow: 1;
    height: 80vh;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}


/* ------- Page Content ------- */

.page_content {
    background-color: var(--color-primary);

    flex-grow: 1;

    overflow-y: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */

    padding-bottom: 35vh;
}

.page_content > section {
    margin: 0 auto;
    padding: calc(2.5vh + 2vw);
    max-width: 55vw;
}

.page_content .section_divider {
    width: 100%;
    height: 0;

    border: dashed 2px var(--color-secondary);
}

@media (max-width: 576px) {
    #page {
        flex-direction: column;
    }

    .page_content > section {
        padding-left: calc(2vh + 2vw);
        padding-right: calc(2vh + 2vw);
        max-width: unset;
    }

}