
/* personal_brand section */
#personal_brand .brand_text {
    color: var(--color-brand-text);
}

#personal_brand .button {
    background-color: var(--color-brand);
}
#personal_brand .button:hover {
    background-color: var(--color-brand-hover);
}


/* personal_brand porfile card */
#personal_brand.profile_card {
    background-color: unset;
    max-width: fit-content;

    padding-top: 0;
    padding-bottom: 0;
}
#personal_brand .profile_card.button {
    background-color: unset;
}
#personal_brand .profile_card.button:hover {
    background-color: unset;
}


#personal_brand .profile_card .profile_photo {
    height: calc(3vh + 3vw);
    width: calc(3vh + 3vw);
}