.project_card {

}

.project_card .card_bottom {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    
    align-items: center;
    justify-content: space-between;
}

.project_card .card_bottom .button_list {
    align-self: flex-end;
}
/*
.project_card .card_bottom .button_list .button {

}
*/


@media (max-width: 576px) {
    .project_card .card_bottom {
        flex-direction: column;
        align-items: start;

        gap: 2vh;
    }
}