/* width */
::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #ffffff00;
    margin: 2vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary-hover);
}

::-webkit-scrollbar-button {
    display: none;
}