
:root {
    --color-white-text: #f2f2f2;
    --color-dark-text: #0d0d0d;

    --color-accent: #414BB2;
    --color-accent-hover: #3a43a3;

    --color-primary: #1A1A1A;
    --color-primary-hover:#141414;

    --color-secondary: #242323;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
}


/* ------- Generics ------- */

a.button {
    background-color: var(--color-accent);
    color: var(--color-white-text);

    display: inline-block;

    padding: 1vh 1vw;
    border-radius: 7px;

    font-weight: bolder;
    text-decoration: none;
    font-size: calc(1.5vh + 0.5vw);
}

a.button:hover {
    background-color: var(--color-accent-hover);
}

a.button > img {
    padding-left: 1vw;
    width: calc(1.5vh + 0.5vw);
}


/* ------- Banner ------- */

#banner {
    background-color: var(--color-accent-hover);

    flex-grow: 1;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;

        /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 0 0 10px 0.1vw var(--color-primary-hover);
}


#banner .banner_text {
    color: var(--color-white-text);

    display: flex;
    flex-direction: column;

    margin: 5vh 6vw;
}

#banner .name {
    flex-grow: 2;
    font-size: calc(2vh + 4vw);

    align-content: center;
    text-align: right;
}
#banner #tittle {
    flex-grow: 1;
    font-size: calc(0.5vh + 1vw);
    
    padding-top: 1vh;
    align-content: start;
    text-align: right;
}

#banner #profile_photo {
    height: calc(10vh + 15vw);
    width: calc(10vh + 15vw);

    position: absolute;
    top: 4vh;
    left: 10vw;

    object-fit: cover;
    border-radius: 40%;
    border: 0.5vw solid var(--color-accent);
}


/* ------- Page ------- */
#page {
    flex-grow: 3;
    height: 80vh;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}


/* ------- Page Content ------- */

#page_content {
    background-color: var(--color-primary);

    /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 0 0 15px 0.05vw var(--color-primary-hover);

    flex-grow: 1;

    padding: calc(2.5vh + 2vw) calc(3vh + 3vw);
    padding-bottom: 0;

    overflow-y: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#page_content .text {
    color: var(--color-white-text);
    font-size: calc(1.5vh + 1vw);
}

#page_content > * {
    margin-bottom: 5vh;
    text-align: justify;
}

#page_content .button {
    margin-right: 2vw;
}

@media (max-width: 576px) {
    #banner #profile_photo {
        top: 2vh;
        left: 5vw;
    }

    #page {
        flex-direction: column;
    }

    #page_content {
        padding-bottom: 5vh;
    }
}