.certificates {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 12rem));
    gap: 1rem;
    justify-content: center;
}

a.cert-card {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.5rem;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-secondary-hover);

    color: var(--color-secondary-text);
    text-decoration: none;
    font-weight: bold;
    font-size: medium;

    transition: border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

a.cert-card:hover {
    border-color: var(--color-accent-hover);
    opacity: 1;
}

a.cert-card .cert-card-img {
    overflow: hidden;
    height: 6rem;
    width: 100%;
    border-radius: var(--border-radius);
}

a.cert-card .cert-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: var(--border-radius);
}

a.cert-card span {
    text-align: center;
    padding: 0 0.25rem 0.25rem;
}
