.project_card {
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary-hover);

    padding: calc(1vh + 0.5vw);
}

.project_card:not(.hidden) {
    border-color: var(--color-accent-hover);
}

.project_card .card_bottom {
    display: flex;
    flex-direction: row;
    gap: 2vh;

    align-items: center;
    justify-content: space-between;
}

.project_card .card_bottom .button_list {
    align-self: flex-end;
}

/*
.project_card .card_bottom .button_list .button {

}
*/

.project_card .card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    opacity: 1;
}

.project_card.hidden:not(:hover) .card_header {
    opacity: 0.5;
}

.project_card .card_header .title {
    flex-shrink: 0;
}

.project_card .card_content {
    transition: opacity 0.3s ease-in-out, max-height 0.4s ease-in-out, margin-top 0.3s ease-in-out;
    opacity: 1;
    max-height: 500px;

    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    margin-top: 2vh;
}


.project_card.hidden .card_content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
}



.project_card .expand_arrow {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 1vw;
    height: 1vw;
}

.project_card.hidden .expand_arrow {
    background-image: url('src/assets/arrow_right.png');
    opacity: 0.5;
}

.project_card .expand_arrow {
    background-image: url('src/assets/arrow_down.png');
    opacity: 1;
}