body {
	background-color: var(--color-primary);
  
}

.page {
    box-sizing: unset !important;

    margin: auto;
}

h1,
h2,
h3 {
    color: var(--color-primary-text);
}

p, li {
    color: var(--color-secondary-text);
}

img {
    border-radius: var(--border-radius);
}

figure.callout {
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
}

figcaption a {
    color: var(--color-accent);
    font-size: var(--small-text-size);
}

pre, code {
    background-color: var(--color-secondary) !important;
    color: var(--color-text-code) !important;
    border-radius: 4px !important;
    padding: 5px 10px !important;
    font-family: monospace !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
    text-align: none !important;
}

pre code {
    background-color: inherit !important;
    color: inherit !important;
    padding: 0 !important;
    text-shadow: none !important;
}


pre::selection, code::selection {
    background-color: var(--color-secondary-text) !important;
    color: var(--color-secondary) !important;
}


@media (min-width: 1200px) {
    .page {
        max-width: var(--max-page-width);
    }
}