.button-wrapper {
    border-radius: var(--border-radius);
    margin-bottom: 1vh;
}

.button-wrapper.pressed {
    margin-bottom: 0;
    margin-top: 1vh;
}

.button-wrapper.pressed>* {
    box-shadow: none !important;
}

/* ------- <a> Buttons ------- */
a.button {
    background-color: var(--color-accent);
    color: var(--color-primary-text);
    box-shadow: 0 0.7vh rgb(from var(--color-accent) r g b / 0.85);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: calc(0.5vh + 0.5vw);

    padding: 0.4rem 0.5rem;
    border-radius: var(--border-radius);

    font-weight: bolder;
    text-decoration: none;
    font-size: var(--secondary-text-size);

    text-wrap: nowrap;
}

a.button:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-primary-text);
    box-shadow: 0 0.7vh rgb(from var(--color-accent-hover) r g b / 0.85);

    cursor: pointer;
}

a.button>img {
    width: calc(1vh + 1vw);
    object-fit: scale-down;
}

/* ------- Variants ------- */
a.button.personal_brand {
    background-color: var(--color-brand);
    box-shadow: 0 0.7vh rgb(from var(--color-brand) r g b / 0.85);
}

a.button.personal_brand:hover {
    background-color: var(--color-brand-hover);
    box-shadow: 0 0.7vh rgb(from var(--color-brand-hover) r g b / 0.85);
}