/* ------- <a> Buttons ------- */
a.button {
    background-color: var(--color-accent);
    color: var(--color-primary-text);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: calc(0.5vh + 0.5vw);

    padding: 0.8vh 0.8vw;
    border-radius: var(--border-radius);

    font-weight: bolder;
    text-decoration: none;
    font-size: var(--secondary-text-size);

    text-wrap: nowrap;
}

a.button:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-primary-text);
    cursor: pointer;
}

a.button>img {
    width: calc(1vh + 1vw);
    object-fit: scale-down;
}

/* ------- Variants ------- */
a.button.personal_brand {
    background-color: var(--color-brand);
}

a.button.personal_brand:hover {
    background-color: var(--color-brand-hover);
}