header {
    background-color: var(--color-secondary);

    flex-grow: 0;

    display: flex;
    flex-direction: row;
}

.header_content {
    padding: 2vw 0.5vw;

    transition: opacity 0.2s ease-in 0.15s, max-width 0.2s ease-in-out;
    max-width: 20vw;
    opacity: 1;

    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.header_content.hidden {
    max-width: 0;
    opacity: 0;
    padding: 0;
    overflow: hidden;
}

.header_content>* {
    opacity: 1;
}

.header_content.hidden>* {
    opacity: 0;
}

/* hide header button */
.toggle_header {
    background-color: var(--color-secondary);

    display: inline-flex;
    align-items: center;

    border-radius: 0;

    width: 1.5vw;
    padding: 0.1vw;
    outline: inherit;
    border: inherit;
}

.toggle_header:hover {
    background-color: var(--color-secondary-hover);
    cursor: pointer;
}

.toggle_header>img {
    width: 100%;
    opacity: 0.1;
    align-content: center;
}

.toggle_header:hover>img {
    opacity: 1;
}


@media (max-width: 800px) {
    a.toggle_header {
        display: none;
    }
}